<h1>Independent counter</h1>

<p class="counter-class">
  <strong  data-testid="count">{{ count }}</strong>
</p>

<p>
  <button (click)="increment()" class="incr-but-class" id="incr-but" data-testid="increment-button">+</button>
  <button (click)="decrement()" data-testid="decrement-button">-</button>
</p>

<p>
  <input type="number" #resetInput id="user-input" data-testid="reset-input" />
  <button (click)="reset(resetInput.value)" id="reset-button" data-testid="reset-button">Reset</button>
</p>

